/*  your css code here. If applicable */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
nav {
  width: 20vw;
  height: 100vh;
  background-color: #d7e8d4;
  padding: 1em;
}
main {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: yellowgreen;
  height: 20vh;
  padding: 1em;
}
.content {
  display: flex;
  height: 60vh;
}
article {
  flex: 3 1 0%;
  padding: 1em;
}
aside {
  flex: 1 1 0%;
  background-color: #f5f5dc;
  padding: 1em;
}
footer {
  background-color: yellowgreen;
  height: 20vh;
  padding: 1em;
}
